<div class="inner_page_content profile_page">

    <div class="container">
        <div class="row">
            <div class="user_name_sec">
                <div class="col-lg-12">
                    <ul class="list-inline list-unstyled">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i></a></li>
                    </ul>
                    <img src="img/user-profile-5.jpg">
                    <h5>{{user.username}}</h5>
                    <h6>{{user.name}}</h6>
                    {{#if user.description}}
                    <div class="profile-description">
                        <a href="#" id="profile-description-edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <p>
                            {{user.description}}
                        </p>
                        <div id="profile-description-form">
                            <textarea id="profile-description-field" class="form-control" cols="30" rows="10">{{user.description}}</textarea>
                            <br><button class="btn btn-success" id="profile-description-save">Save</button>
                            <button class="btn btn-danger" id="profile-description-cancel">Cancel</button>
                        </div>
                    </div>
                    {{else}}
                    <div class="profile-description">
                        <p>
                            <a href="#" id="add-description" class="btn btn-default">Add description</a>
                        </p>
                        <div id="profile-description-form">
                            <textarea id="profile-description-field" class="form-control" cols="30" rows="10"></textarea>
                            <br><button class="btn btn-success" id="profile-description-save">Save</button>
                            <button class="btn btn-danger" id="profile-description-cancel">Cancel</button>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profile_page_tab">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab_1">Participando</a></li>
                        <li><a data-toggle="tab" href="#tab_2">Publicados</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab_1" class="tab-pane fade in active">
                            <div class="dscrp_section product_related_box">
                                {{#each userProducts}}
                                <div class="col-md-4">
                                    <a href="/product/{{_id}}" class="product_box_link">
                                        <div class="product_box">
                                            <img src="{{image.imageUrl}}" alt="{{title}}" height="256px" width="224px">
                                            <br><br>
                                            <h3>{{title}}</h3>
                                            <a class="{{checkExpire date 'expired'}}" href="#">{{date date}}</a>
                                        </div>
                                    </a>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                        <div id="tab_2" class="tab-pane fade">

                            <div class="dscrp_section product_related_box">
                                {{#each products}}
                                <div class="col-md-4">
                                    <a href="/product/{{_id}}" class="product_box_link">
                                        <div class="product_box">
                                            <img src="{{image.imageUrl}}" alt="{{title}}" height="256px" width="224px">
                                            <br><br>
                                            <h3>{{title}}</h3>
                                            <a class="{{checkExpire date 'expired'}}" href="#">{{date date}}</a>
                                        </div>
                                    </a>
                                </div>
                                {{/each}}


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>